{% extends "base.html" %}
{% block title %}篡改定位检测{% endblock %}

{% block content %}
<div class="container">
<a data-trigger="modal" data-title="提交新文件" class="btn btn-lg btn-primary" href="/static/html/sumbit.html" role="button">提交新文件</a>
<p></p>
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>创建时间</th>
      <th>文件名</th>
      <th>MD5 值</th>
      <th>码率</th>
      <th>状态</th>
      <th>操作</th>
    </tr>
  </thead>
  {% for e in info_list %}
  <tr>
    <th>{{ e['id'] }}</th>
    <th>{{ e['create_time'] }}</th>
    <th>{{ e['file_name'] }}</th>
    <th>{{ e['md5'] }}</th>
    <th>{{ e['bitrate'] }} kbps</th>
    <th>
       {% if e['flag'] == 0 %}
         <span class="label label-info">检测中</span>
       {% elif e['flag'] == 1 %}
         <span class="label label-success">未经过篡改</span>
       {% else %}
         <span class="label label-danger">经过篡改</span>
       {% endif %}
    </th>
    <th>
       {% if e['flag'] != 0 %}
         <a class="btn btn-primary btn-xs" href="{{ e['log_url'] }}" role="button">查看</a>
       {% else %}
         <a class="btn btn-primary btn-xs disabled" href="#" role="button">查看</a>
       {% endif %}
    </th>
  </tr>
  {% endfor %}
</table>
</div>
{% endblock %}

